name: CD

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # OPTIONAL: only deploy if tests pass
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend dependencies
        working-directory: backend
        run: npm install

      - name: Run backend tests
        working-directory: backend
        run: npm test --coverage
        
      - name: Prepare the webpage
        run: |
          mkdir -p sites/backend
          mv backend/coverage/lcov-report sites/backend
          mv backend/coverage/clover.xml sites/backend

      - name: Deploy to Render
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

  deploy-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/perfectplan

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: npm install

      - name: Run frontend tests
        run: npm test --coverage

      - name: Prepare the webpage
        run: |
          mkdir -p sites/frontend
          mv frontend/coverage/lcov-report sites/frontend
          mv frontend/coverage/clover.xml sites/frontend

      - name: Build frontend
        run: npm run build

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites
