name: CI

on:
  push:
    branches: 
      - main
      - dev
  pull_request:

jobs:
  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend deps
        run: npm install

      - name: Run backend tests
        run: npm test

  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend deps
        run: npm install

      - name: Run frontend tests
        run: npm test -- --watch=false

      - name: Build frontend
        run: npm run build
